<h2>Edit <%= @source.name %></h2>

<form method="post" action="/sources/<%= @source.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input id="hidden" type="hidden" name="source[public]" value="false">
    
    <h3>Source Info</h3>
    <p><label for="name">Name: </label>
        <input id="name" type="text" name="source[name]" value="<%= @source.name %>"></p>
    <p><label for="url">URL: </label>
        <input id="url" type="text" name="source[url]" value="<%= @source.url %>"></p>
    <p><label for="publication">Publication: </label>
        <input id="publication" type="text" name="source[pub]" value="<%= @source.pub %>"></p>    
    <p><label for="synopsis">Synopsis: </label>
        <textarea id="synopsis" type="text" name="source[synopsis]"><%= @source.synopsis %></textarea></p>    
    <p><label for="author">Author: </label>
        <input id="author" type="text" name="source[author]" value="<%= @source.author %>"></p>    
    <p><label for="date-published">Date Published: </label>
        <input id="date-published" type="date" name="source[pub_date]" value="<%= @source.pub_date %>"></p>    
    <p><label for="media-type">Media Type: </label>
        <input id="media-type" type="text" name="source[media_type]" value="<%= @source.media_type %>"></p>    
    <p><label for="notes">Notes: </label>
        <textarea id="notes" type="text" name="source[notes]"><%= @source.notes %></textarea></p>    
    <p>Public: <input id="public" type="checkbox" name="source[public]" value="true" <%="checked" if @source.public==true %>></p>

    <h3>Associated Topics</h3>
    <h4>Select from Existing Topics</h4>
    <% @topics.each do |t| %>
        <p><input type="checkbox" name="source[topic_ids][]" value="<%= t.id %>" <%='checked' if @source.topics.include?(t) %>> <%= t.name %></p>
    <% end %>
    
    <h4>Add New Topic</h4>
    <p>add when new topic functionality ready</p>

    <p><input type="submit" value="Update"></p>
</form>

