<h2><%= @source.name %></h2>
<h3>Associated Topics: 
    <% @source.topics.each do |t| %>
        <%= t.name %><%= ", " if t.id != @source.topics.last.id %>
    <% end %>
</h3>
<p>
    <a href="http://<%= @source.url %>" target="_blank">View Source</a> ||
    <a href="/sources/<%= @source.id %>/edit">Edit Source</a> ||
    delete
</p>
<br><hr><br>

<section>    
    <h4>Publication:</h4>
    <p><%= @source.pub %></p>
    <br>
    <h4>Synopsis:</h4>
    <p><%= @source.synopsis %></p>
    <br>
    <h4>Author:</h4>
    <p><%= @source.author %></p>
    <br>
    <h4>Date Published:</h4>
    <p><%= @source.pub_date %></p>
    <br>
    <h4>Media Type:</h4>
    <p><%= @source.media_type %></p>
    <br>
    <h4>Notes:</h4>
    <p><%= @source.notes %></p>
    <br>
    <h4>Public:</h4>
    <p><%= !!@source.public %></p>
    <br>
    <h4>Date Saved:</h4>
    <p><%= @source.created_at %></p>
    <br>
    <h4>Last Updated:</h4>
    <p><%= @source.updated_at %></p>
</section>

