<section class="content-header">
    <div class="content-header-info">
        <h2><%= @source.formatted_name %></h2>
        <h3>Associated Topics: 
            <% @source.topics.order("name ASC").each do |t| %>
                <a href="/topics/<%= t.slug %>"><%= t.formatted_name %></a><%= ", " if t != @source.topics.order("name ASC").last %>
            <% end %>
        </h3>

        <form class="crud-button" method="get" action="http://<%= @source.url %>" target="_blank">
            <input type="submit" value="Go to Source">
        </form>

        <form class="crud-button" method="get" action="/sources/<%= @source.slug %>/edit">
            <input type="submit" value="Edit Source">
        </form>

        <form class="crud-button" method="post" action="/sources/<%= @source.slug %>">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete">
        </form>
    </div>
</section>

<% if flash.has?(:message) %>
    <p class="flash-message"><%= flash[:message] %></p>
<% end %>

<section class="content-item">
    <div class="content-item-info">
        <div class="source-info">
            <h4>URL:</h4>
            <p><%= @source.url %></p>
            <h4>Publication:</h4>
            <p><%= @source.pub %></p>
            <h4>Synopsis:</h4>
            <p><%= @source.synopsis %></p>
            <h4>Author:</h4>
            <p><%= @source.author %></p>
            <h4>Date Published:</h4>
            <p><%= formatted_date(@source.pub_date) %></p>
            <h4>Media Type:</h4>
            <p><%= @source.media_type %></p>
            <h4>Notes:</h4>
            <p><%= @source.notes %></p>
            <h4>Public:</h4>
            <p><%= !!@source.public %></p>
            <h4>Date Saved:</h4>
            <p><%= formatted_date(@source.created_at) %></p>
            <h4>Last Updated:</h4>
            <p><%= formatted_date(@source.updated_at) %></p>
        </div>
    </div>
</section>


