<section class="content-header">
    <div class="content-header-info">
        <h2>Reassign Sources</h2>
        <p>You have sources currently assigned to <strong><%= @topic.formatted_name %></strong>.</p>
        <p>You must reassign these sources to finish <%= @env["REQUEST_METHOD"]=="DELETE" ? "deleting" : "updating" %> your topic.</p>
    </div>
</section>

<section class="content-item">
    <div class="content-item-info">
        <form class="new-edit-form" method="post" action="/topics/<%= @topic.slug %>">
            <input id="hidden" type="hidden" name="_method" value="<%= @env["REQUEST_METHOD"] %>">
            
            <% @orphans.sort_by { |orph| orph.name }.each do |o| %>
                <section>            
                    <h3><%= o.formatted_name %></h3>
                    
                    <h4>Select Topic(s) to Move Source To</h4>
                    <% @topics.order("name ASC").each do |t| %>
                        <% if t != @topic %>
                            <input id="hidden" type="hidden" name="reassign[<%= o.slug %>][id]" value="<%= o.id %>">
                            <p><input type="checkbox" name="reassign[<%= o.slug %>][topic_ids][]" value="<%= t.id %>"> <%= t.formatted_name %></p>
                        <% end %>
                    <% end %>
                </section>
            <% end %>            

            <p><input type="submit" value="Reassign"></p>
        </form>
    </div>
</section>







