<h2><%= @topic.name %></h2>
<p><strong>Associated Subject: </strong><%= @topic.subject.name %></p>
<p><strong>Description: </strong><%= @topic.description %></p>
<p><%= sources_in_topic(@topic).count %> source<%= "s" if sources_in_topic(@topic).count!=1 %></p>
<p><a href="/topics/<%= @topic.id %>/edit">Edit Topic</a> || delete</p>   
<hr>

<% sources_in_topic(@topic).each do |s| %>
    <section>
        <a href="http://<%= s.url %>" target="_blank"><h3><%= s.name %></h3></a>
        
        <p><strong>Publication: </strong><%= s.pub %> || <strong>Media Type: </strong><%= s.media_type %></p>
        <p><strong>Synopsis: </strong><%= s.synopsis %></p>        

        <p>
            <a href="/sources/<%= s.id %>">Source Details</a> || 
            <a href="/sources/<%= s.id %>/edit">Edit Source</a> || 
            delete
        </p>        
        <hr>
    </section>
<% end %>




