<section class="content-header">
    <div class="content-header-info">
        <h2 class="display-horiz"><%= @topic.formatted_name %></h2>
        <form class="crud-button" method="get" action="/topics/<%= @topic.slug %>/edit">
            <input type="submit" value="Edit Topic">
        </form>
        <form class="crud-button" method="post" action="/topics/<%= @topic.slug %>">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete Topic">
        </form>
        <p><strong>Associated Subject: </strong><%= @topic.subject.formatted_name %></p>
        <p><strong>Total Sources: </strong><%= @topic.sources.count %></p>
        <p><%= @topic.description %></p>
    </div>
</section>

<% @topic.sources.each do |s| %>
    <section class="content-item">
        <div class="content-item-info">
            <h3><a href="http://<%= s.link %>" target="_blank"><%= s.formatted_name %></a></h3>
            
            <p class="display-horiz"><strong>Publication: </strong><%= s.pub %></p>
            <p class="display-horiz"><strong>Author: </strong><%= s.author %></p>
            <p class="display-horiz"><strong>Publication Date: </strong><%= formatted_date(s.pub_date) %></p>
            <p class="display-horiz"><strong>Media Type: </strong><%= s.media_type %></p>
            <p><strong>Synopsis: </strong><%= s.synopsis %></p>

            <form class="crud-button" method="get" action="/sources/<%= s.slug %>">
                <input type="submit" value="Source Details">
            </form>

            <form class="crud-button" method="get" action="/sources/<%= s.slug %>/edit">
                <input type="submit" value="Edit Source">
            </form>

            <form class="crud-button" method="post" action="/sources/<%= s.slug %>">
                <input id="hidden" type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete Source">
            </form>
        </div>
    </section>
<% end %>
