<section class="content-header">
    <div class="content-header-info">
        <h2>Your Subjects & Topics</h2>
    </div>
</section>

<% if flash.has?(:message) %>
    <p class="flash-message"><%= flash[:message] %></p>
<% end %>

<% @subjects.order("name ASC").each do |s| %>
    <section class="content-item">
        <div class="content-item-info">
            <div class="item-info-head">
                <h3 class="display-horiz"><%= s.formatted_name %></h3>        
                <form class="crud-button" method="get" action="/subjects/<%= s.slug %>/edit">
                    <input type="submit" value="Edit Subject">
                </form>
            
                <form class="crud-button" method="post" action="/subjects/<%= s.slug %>">
                    <input id="hidden" type="hidden" name="_method" value="delete">
                    <input type="submit" value="Delete Subject">
                </form>
                <p><%= s.description %></p>                
            </div>
            <hr>
            <div class="item-info-body">
                <h4 class="table-header"><%= s.topics.count %> Topic<%= "s" if s.topics.count!=1 %></h4>
                <table>                    
                    <thead>
                        <tr>
                            <th>Topic</th>
                            <th># of Sources</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% s.topics.order("name ASC").each do |t| %>
                            <tr>
                                <td><a href="/topics/<%= t.slug %>"><%= t.formatted_name %></a></td>
                                <td><%= t.sources.count %> Source<%= "s" if t.sources.count!=1 %></td>
                                <td><%= t.description %></td>
                            </tr>
                            <% end %>
                        <tbody>
                </table>
            </div>
        </div>
    </section>
<% end %>
    

    