<h2>Your Subjects & Topics</h2>

<% @subjects.each do |s| %>
    <section>
        <h3><%= s.name %> || <%= topics_in_subject(s).count %> topic<%= "s" if topics_in_subject(s).count!=1 %></h3>
        <p><%= s.description %>|| edit || delete</p>
        
        <dl>
            <% topics_in_subject(s).each do |t| %>
                <dt><%= t.name %> || <%= sources_in_topic(t).count %> source<%= "s" if sources_in_topic(t).count!=1 %> || edit || delete</dt>
                <dd><%= t.description %></dd>
            <% end %>
        </dl>
        <hr>
    </section>
<% end %>
    

    