<h2>Your Subjects & Topics</h2>

<% @subjects.each do |s| %>
    <section>
        <h3><%= s.name %></h3>
        <p><strong>Description: </strong><%= s.description %></p>
        <p>
            <a href="/subjects/<%= s.slug %>/edit">Edit Subject</a> ||
            delete
        </p>
        
        <h4><%= topics_in_subject(s).count %> Topic<%= "s" if topics_in_subject(s).count!=1 %></h4>
        <dl>
            <% topics_in_subject(s).each do |t| %>
                <dt><a href="/topics/<%= t.slug %>"><%= t.name %></a> || edit || delete</dt>
                <dd><%= t.description %></dd>
            <% end %>
        </dl>
        <hr>
    </section>
<% end %>
    

    