<h2>Your Subjects & Topics</h2>

<% @subjects.each do |s| %>
    <section>
        <h3><%= s.formatted_name %></h3>
        <p><strong>Description: </strong><%= s.description %></p>
        <div>        
            <form style="display: inline;" method="get" action="/subjects/<%= s.slug %>/edit">
                <input type="submit" value="Edit Subject">
            </form>
        
            <form style="display: inline;" method="post" action="/subjects/<%= s.slug %>">
                <input id="hidden" type="hidden" name="_method" value="delete">
                <input type="submit" value="Delete Subject">
            </form>
        </div>

        
        <h4><%= topics_in_subject(s).count %> Topic<%= "s" if topics_in_subject(s).count!=1 %></h4>
        <dl>
            <% topics_in_subject(s).each do |t| %>
                <dt>
                    <a href="/topics/<%= t.slug %>"><%= t.formatted_name %></a>
                    <%= sources_in_topic(t).count %> Source<%= "s" if sources_in_topic(t).count!=1 %>                
                </dt>
                <dd><%= t.description %></dd>
            <% end %>
        </dl>
        <hr>
    </section>
<% end %>
    

    