<section class="content-header">
    <div class="content-header-info">
        <h2>Reassign Topics</h2>
    </div>
</section>

<p class="flash-message">
    You have topics currently assigned to <strong><%= @subject.formatted_name %></strong>.<br>
    You must reassign these topics to finish <%= @env["REQUEST_METHOD"]=="DELETE" ? "deleting" : "updating" %> your subject.
</p>

<section class="content-item">
    <div class="content-item-info">
        <form class="new-edit-form" method="post" action="/subjects/<%= @subject.slug %>">
            <input id="hidden" type="hidden" name="_method" value="<%= @env["REQUEST_METHOD"] %>">

            <% @orphans.sort_by { |orph| orph.name }.each do |o| %>
                <section>
                    <h3><%= o.formatted_name %></h3>                    
                    <h4>Select Subject to Move Topic To</h4>
                    <% @subjects.order("name ASC").each do |s| %>
                        <% if s != @subject %>
                            <input id="hidden" type="hidden" name="reassign[<%= o.slug %>][id]" value="<%= o.id %>">
                            <p><input id="<%= s.name %>" type="radio" name="reassign[<%= o.slug %>][subject_id]" value="<%= s.id %>">
                                <label for="<%= s.name %>"><%= s.formatted_name %></label></p>
                        <% end %>
                    <% end %>
                </section>
            <% end %>
            
            <p><input type="submit" value="Reassign"></p>
        </form>
    </div>
</section>
